.fastest-sports {
    height:40vh;
    margin-bottom:3vh;
}

.sport-1 {
    height:50%;  
}

.sport-1 .speed {
    background-image: url(../images/sport-1-fast.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width : 65%;
    margin-right:-5vw;
    padding-right:5vw;
}

.sport-2 svg {
    fill:white;
}

.sport-2 {
    height:50%;
}

.sport-2 .speed {
    text-align: left;
    background-image: url(../images/sport-2-fast.svg);
    background-repeat: no-repeat;
    background-position: center left;
    width : 65%;
    margin-left:-5vw;
    padding-left:5vw;
    color:black;
}

.sport {
    display:flex;
    justify-content: space-between;
    padding : 0;
    font-size:30px;
}

.sport p {
    margin : 0;
}

.activity-description {
    padding-top : 2vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom:3vh;
}

.activity-description svg {
    width: 10vw;
    height:10vw;
}

.speed {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.average {
    background-image: url(../images/distance-average-path.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 90%;
    margin-right:-5vw;
    padding-right:5vw;
    height:30vh;
    justify-content: center;
    gap:8vw;
    display:flex;
    flex-direction: row;
    color:black;
    padding-top: 3vh ;
}

.average svg {
    fill:white;
}

.sport-average {
    display:flex;
    flex-direction: row;
}

.sport-2-average {
    text-align:left;
}

.icone-average {
    width:10vw;
    margin:auto;
}

.stats-average {
    padding : 1.5vh 5vw 0 5vw;
}

